/LP2-4-TP02-ADS/Funcionario/nbproject/private/
/LP2-4-TP02-ADS/Diagrama/nbproject/private/
/LP2-4-TP02-ADS/Ingresso/nbproject/private/
/LP2-4-TP02-ADS/Imovel/nbproject/private/
/LP2-4-TP02-ADS/Aluno/nbproject/private/
/LP2-4-TP02-ADS/Aluno/build/
/LP2-4-TP03-ADS/Calculadora/nbproject/private/
/LP2-4-TP03-ADS/Calculadora/build/
/LP2-4-TP03-ADS/Pessoa/nbproject/private/
/LP2-4-TP03-ADS/Pessoa/build/
/LP2-4-TP03-ADS/Server/nbproject/private/
/New Folder/TrabalhoPratico/nbproject/private/
/New Folder/TrabalhoPratico/build/
/LP2-4-TPFinal-ADS/CadastroDeAlunos/nbproject/private/
/LP2-4-TPFinal-ADS/CadastroDeAlunos/build/
